* {
    box-sizing: border-box;
}

body {
    padding: 0px 9px;
    font-family: "PingFang SC,Microsoft YaHei,Helvetica Neue,Arial,sans-serif";
}

.back {
    padding-top: 5px;
    height: 30px;
    position: relative;
    font-weight: 400;
}

.back-icon {
    position: absolute;
    top: 6px;
    left: -6px;
}

.back-font {
    text-align: center;
}

.adv {
    height: 76px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.top {
    padding: 15px 16px;
    height: 199px;
    background: linear-gradient(to bottom, #1faf7f, #3dc990);
    border-radius: 8px;
    color: #fff;
}

.top-picture {
    display: flex;
}

.picture {
    height: 63px;
    width: 47px;
    background-color: #fff;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #c0e8db;
}

.pictureBox {
    margin-left: -4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic-description {
    font-size: 9px;
}

.none-picture {
    background-color: #e9e9e9;
}

.nameBox {
    margin-left: 11px;
    padding-top: 10px;
}

.age {
    font-size: 12px;
}

.schoolbox {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.school {
    font-size: 18px;
}

.official {
    width: 40px;
    height: 20px;
    background-color: #1da36e;
    text-align: center;
    border-radius: 20px;
    font-size: 12px;
    line-height: 20px;
}

.profession {
    margin-top: 10px;
    font-size: 13px;
}

.detail {
    margin-top: 26px;
    display: flex;
    font-size: 14px;
}

.detail-left {
    margin-right: 22px;
    color: #999999;
    width: 35%;
}

.detail-right div {
    font-weight: 400;
    margin-bottom: 16px;
    letter-spacing: .6px;
}

.detail-left div {
    margin-bottom: 16px;
    text-align: end;
}

.foot {
    color: #fff;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #26b887;
    font-size: 17px;
}